.housing-card-page {
  .slider-section {
    margin-bottom: 15px;

    @include breakpoint(lg) {
      margin-bottom: 30px;
    }
  }

  .informations-section {
    .informations-subsection {
      @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
      }

      .housing-card-title {
        color: $secondary-color;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;

        @include breakpoint(md) {
          font-size: 24px;
        }
  
        @include breakpoint(lg) {
          font-size: 36px;
        }
      }
  
      .tag {
        margin-right: 10px;
      }
  
      .housing-card-location {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 10px;

        @include breakpoint(md) {
          font-size: 16px;
          margin-bottom: 17px;
        }
  
        @include breakpoint(lg) {
          font-size: 18px;
          margin-bottom: 24px;
        }
      }

      .housing-card-tags-container {
        margin-bottom: 16px;
      }
  
      .rating-host-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13px;

        @include breakpoint(md) {
          flex-direction: column-reverse;
          align-items: flex-end;
        }
  
        .rating-container {
          position: relative;
          height: 18px;
          width: 98px;
          display: flex;
          
          @include breakpoint(md) {
            width: 150px;
            height: 21px;
          }
          
          @include breakpoint(lg) {
            width: 196px;
            height: 24.75px;
          }
    
          img {
            margin-right: 2.5px;
            margin-left: 2.5px;

            @include breakpoint(md) {
              height: 21px;
              margin-right: 5px;
              margin-left: 5px;
            }

            @include breakpoint(lg) {
              height: 24.75px;
              margin-right: 8px;
              margin-left: 8px;
            }

            &:first-child {
              margin-left: 0;

              @include breakpoint(lg) {
                margin-left: 7px;
              }
            }

            &:last-child {
              @include breakpoint(lg) {
                margin-right: 0;
              }
            }
          }
    
          .colorful-stars-container {
            position: absolute;
            z-index: 1;
          }
    
          .gray-stars-container {
            position: absolute;
          }
        }
  
        .host-container {
          display: flex;
          align-items: center;
    
          .host-name-container {
            font-weight: 500;
            font-size: 12px;
            color: $secondary-color;
            margin-right: 10.5px;
  
            @include breakpoint(md) {
              font-size: 14px;
            }
  
            @include breakpoint(lg) {
              font-size: 18px;
            }
          }
      
          .avatar-host-container {
            height: 32px;

            @include breakpoint(md) {
              height: 48px;
            }

            @include breakpoint(lg) {
              height: 64px;
            }

            img {
              width: 32px;
              border-radius: 100%;
  
              @include breakpoint(md) {
                width: 48px;
              }
  
              @include breakpoint(lg) {
                width: 64px;
              }
            }
          }
        }
      }
    }

    .collapses-container {
      @include breakpoint(md) {
        display: flex;
      }

      .collapse {
        margin-bottom: 20px;

        &:first-child {
          @include breakpoint(md) {
            margin-right: 10px;
          }

          @include breakpoint(lg) {
            margin-right: 38px;
          }
        }
  
        &:last-child {
          margin-bottom: 27px;
          
          @include breakpoint(md) {
            margin-left: 10px;
          }

          @include breakpoint(lg) {
            margin-left: 38px;
          }
        }
      }
    }
  }
}
