.root-page {
  .home-main-image-container {
    position: relative;
    margin-bottom: 20px;
    height: 111px;

    @include breakpoint(md) {
      height: 150px;
    }

    @include breakpoint(lg) {
      height: 223px;
    }

    .home-main-image {
      width: 100%;
      height: 111px;
      object-fit: cover;
      border-radius: 10px;

      @include breakpoint(md) {
        height: 150px;
      }

      @include breakpoint(lg) {
        height: 223px;
      }
    }

    .home-main-image-title {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      left: 15px;
      color: $primary-color;
      font-weight: 700;
      font-size: 24px;
      width: 70%;

      @include breakpoint(md) {
        font-size: 30px;
        left: 50%;
        transform: translate(-50%, 50%);
        width: max-content;
      }

      @include breakpoint(lg) {
        font-size: 48px;
      }
    }

    &::before {
      content: "";
      background-color: $tertiary-color;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      opacity: 0.6;
    }
  }

  .home-thumbnails-container {
    border-radius: 25px;
    
    @include breakpoint(lg) {
      padding: 20px;
      background-color: $gray;
      margin-bottom: 50px;
    }

    .thumbnails-list {
      @include breakpoint(lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      @include breakpoint(xl) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .thumbnail-container {
        margin-bottom: 20px;

        @include breakpoint(lg) {
          margin: 30px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }















  /////////////////////////
  .collapses-container {
    display: flex;
  
    .collapse-container {
      width: 100%;
  
      &:first-child {
        margin-right: 38px;
      }
  
      &:last-child {
        margin-left: 38px;
      }
    }
  }
  /////////////////////
}
